name: Test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '3.0', '3.1', '3.2' ]
        redmine: [ '5.0-stable', '5.1-stable', 'master' ]

    env:
      REDMINE_VER: ${{ matrix.redmine }}
      DB: sqlite3

    steps:
    - uses: actions/checkout@v4
      with:
        path: plugins/redmine_subwikifiles

    - name: Clone Redmine
      run: |
        git clone -b $REDMINE_VER https://github.com/redmine/redmine.git .

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Create database config
      run: |
        cp config/database.yml.example config/database.yml

    - name: Install Dependencies
      run: |
        bundle install --jobs=4 --retry=3

    - name: Setup Database
      run: |
        bundle exec rake db:migrate
        bundle exec rake redmine:plugins:migrate

    - name: Run Tests
      run: |
        bundle exec rake redmine:plugins:test NAME=redmine_subwikifiles
